@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 500px;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7efff;
  color: #000000;
}

#popup_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

#popup_header > img {
  margin: 10px;
  filter: drop-shadow(0 0 7px #1f283f);
}

#header_content {
  display: flex;
  flex-direction: column;
}

#header_content > #main_title {
  font-size: 7vw;
  font-weight: 600;
}

#header_content > #sub_title {
  font-size: 5vw;
  font-weight: 400;
  font-style: italic;
}

#mode_button {
  width: 30vw;
  margin: 15px;
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  color: #1f283f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.random {
  background-color: #f95050;
  color: #00d660;
}

