@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background-color: #e7efff;
  color: #000000;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5vw;
}

header > img {
  margin: 10px;
  filter: drop-shadow(0 0 7px #1f283f);
}

#header_content > #main_title {
  font-size: 45px;
  font-weight: 600;
}

#header_content > #sub_title {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
}

#list_of_blocked_websites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list_of_blocked_websites > h3 {
  font-size: 40px;
  margin: 0.5em;
}

#list_of_blocked_websites > ul {
  font-size: 30px;
  list-style-type: none;
}

#list_of_blocked_websites > ul > li {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #afcaff;
  text-align: center;
}

#list_of_blocked_websites > ul > li > a {
  text-decoration: none;
  color: #000000;
}
